.eventlyAppOverviewSection {

    width: 900px;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    margin-top:40px;
}


.project1Section{background-image: linear-gradient(to bottom right, #d147a3, #ffffff
    );}

    .project2Section{
        background-image: linear-gradient(to top left, #0033cc, #e6f2ff
        );
    }

.project3Section{
    background-image: linear-gradient(to top left, #0059b3, #ffffff
    );
}

.project4Section{
    background-image: linear-gradient(to bottom right, #40bf80, #ffffff
    );
}

  .eventlyAppOverviewSectionPhoto{
    width: 30%;
    height: 30%;

  }

p{color:black;}

.bodyContent{
   margin-left: 50px;
   margin-top: 10px;
   margin-right: 50px;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.4;
}

.viewProjectButton{
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    font-size: 12pt;
    border: none;
    color:#1a8cff;
}
