.eventlyAppOverviewSection {

    width: 900px;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    margin-top:40px;
}


.project1Section{background-image: linear-gradient(to bottom right, #d147a3, #ffffff
    );}

    .project2Section{
        background-image: linear-gradient(to top left, #0033cc, #e6f2ff
        );
    }

.project3Section{
    background-image: linear-gradient(to top left, #0059b3, #ffffff
    );
}

.project4Section{
    background-image: linear-gradient(to bottom right, #40bf80, #ffffff
    );
}

  .eventlyAppOverviewSectionPhoto{
    width: 30%;
    height: 30%;

  }

p{color:black;}

.bodyContent{
   margin-left: 50px;
   margin-top: 10px;
   margin-right: 50px;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.4;
}

.viewProjectButton{
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    font-size: 12pt;
    border: none;
    color:#1a8cff;
}

@media screen and (max-width: 450px) {
    h2.subheading {
        font-size: 45px;
        line-height: 1.1;
        font-weight: 800;
        margin-left: 0px;
        margin-top: 0px;
    }


p.describe2 {
 
    margin-left: 0px;

}

p.describe3 {
    margin-left: 0px;
}

.flex-child-element {

    flex: auto; 
    margin: 18px;
}

#eventlySection {
    margin-left: 0px;
    margin-right: 0px;

}
.logo2 {


    width: 100%;
}
.container {
    padding-right: 0px; 
    padding-left: 0px; 
     margin-right: 0; 
     margin-left: -50px;
}
.green{
    width: 100%;
}
.logo2{

        max-width: 100%;
        height: auto;
      
}
.logo {
    width: 200px;


}


.flex-parent-element2 {
  
    margin-top: 200px;
}
}